<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <form #scheduleform=ngForm (ngSubmit)="saveSchedule(scheduleform)">
        <div class="form-group">
            <label>FROM</label>
            <input type="text" name="sourceAirport" ngModel class="form-control">
        </div>
        <div class="form-group">
            <label>TO</label>
            <input type="text" name="destinationAirport" ngModel class="form-control">
        </div>
        <div class="form-group">
            <label>Arrival Time</label>
            <input type="datetime-local" name="arrival" ngModel class="form-control">
        </div>
        <div class="form-group">
            <label>Departure Time</label>
            <input type="datetime-local" name="departureTime" ngModel class="form-control">
        </div>
        <div class="form-group">
            <label>Airport Code</label>
            <input type="text" name="airportCode" ngModel class="form-control">
        </div>
      <input type="submit" value="submit" class="btn btn-dark">
    </form>
    </div>
</body>
</html>