<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form #flightform=ngForm (ngSubmit)="saveFlightSchedule(flightform)">
<div class="form-group">
    <label>enter the schedule id</label>
    <input type="number" name="id" ngModel class="form-control">
</div>
<div class="form-group">
    <label>enter the seats available</label>
    <input type="number" name="seats" ngModel class="form-control">
</div><div class="form-group">
    <label>enter flightnumber</label>
    <input type="number" name="flightnumber" ngModel class="form-control">
</div>
<input type="submit" value="save flightschedule">
</form>    
</body>
</html>